#articles
    .filter
        position: relative
        padding-right: 100px
        display: flex
        justify-content: flex-end
        .filter-toggle
            cursor: pointer
            margin-left: 20px
            img
                width: 30px
                height: auto
        .filter-list
            position: absolute
            background: $white
            z-index: 9
            padding: 40px 20px 0
            top: -15px
            width: 300px
            border-radius: 15px
            display: none
            .close
                position: absolute
                top: 10px
                right: 10px
                width: 20px
            ul
                padding: 10px 0 20px
                border-top: 1px solid $dark
                margin-bottom: 0
                li
                    text-align: right
                    padding-bottom: 3px
                    color: $dark
                    transition: .3s
                    cursor: pointer
                    &:hover
                        color: $gold
        .filter-opened
            display: inline-block

    .article-block
        display: none
        margin-bottom: 30px
        flex-wrap: wrap
        &.active
            display: flex
        .article-image
            width: 30%
            max-width: 300px
            z-index: 1
            img
                border-radius: 20px
                box-shadow: 0 0 15px 0 rgba(0,0,0,.2)
        .article-info
            padding: 20px 0px
            width: 70%
            position: relative
            margin-left: -30px
            .article-border
                border: 1px solid $middledark
                border-radius: 20px
                padding: 20px 50px 20px 70px
                position: relative
                height: 100%
                z-index: 0
            .article-date 
                display: inline-block
                position: absolute
                right: 50px
                bottom: 20px
            h3
                color: $gold
                font-weight: 600
                font-size: 24px
                position: relative
                margin-bottom: 10px
                padding-bottom: 10px
                &::before
                    position: absolute
                    bottom: 0
                    left: 0
                    border-bottom: 3px solid $gold
                    content: ''
                    width: 70px
                    display: inline-block
            p
                font-size: 16px
                font-weight: 300
                margin-bottom: 30px

#article-inner
    .article-title
        font-size: 50px
        font-weight: 800
        margin-bottom: 20px

@media screen and ( max-width: 900px )
    #articles
        .article-block
            align-items: center
        .filter
            padding-right: 30px
    
    #article-inner
        .article-title
            font-size: 40px
            line-height: 1.1
    

@media screen and ( max-width: 767px )
    #articles
        .filter
            padding-right: 0
            justify-content: center
        .article-block
            margin-bottom: 0
            .article-image
                width: 100%
                max-width: 100%
                img
                    width: 100%
            .article-info
                width: 90%
                position: relative
                margin: -50px 5% 0
                .article-border
                    padding: 40px 20px 30px
                .article-date
                    right: 20px
                h3
                    line-height: 1.2
                    font-size: 22px
    
    #article-inner
        .article-title
            font-size: 35px