@keyframes pulse
    0%
        transform: scale(0.95)
        box-shadow: 0 0 0 0 rgba(11, 219, 101, 0.7)
    70%
        transform: scale(1)
        box-shadow: 0 0 0 10px rgba(11, 219, 101, 0)
    100%
        transform: scale(0.95)
        box-shadow: 0 0 0 0 rgba(11, 219, 101, 0)

    
#doctors
    .doctor-block
        margin-bottom: 30px
        .doctor-image
            img
                width: 250px
                max-width: 100%
                border-radius: 20px
                box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2)
        .doctor-info
            margin-top: 10px
            h3
                color: $gold
                font-weight: 600
                font-size: 20px
                position: relative
                margin-bottom: 10px
                padding-bottom: 10px
                &::before
                    position: absolute
                    bottom: 0
                    left: 0
                    border-bottom: 3px solid $gold
                    content: ''
                    width: 70px
                    display: inline-block
            p
                font-size: 18px
                font-weight: 300

#doctor-inner
    .section-title
        margin-bottom: 0
    .doctor-info
        .doctor-title
            font-size: 25px
            margin-bottom: 30px
            strong
                color: $gold
        .doctor-content
            img
                float: left
                margin: 0 30px 30px 0
                width: 250px
                max-width: 100%
                border-radius: 20px
.ask-question
    border-top: 1px solid $middledark
    padding-top: 30px
    h4
        margin-bottom: 15px
        font-size: 20px
        strong
            color: $middledark
    .doctor-activity
        p
            display: inline-block
            &::after
                display: inline-block
                content: ''
                width: 15px
                height: 15px
                margin-left: 10px
                border-radius: 50%
                position: relative
                top: 3px
    .active
        p
            &::after
                background: $green
                animation: pulse 2s infinite
                box-shadow: 0 0 0 0 rgba(11, 219, 101, 1)
    .inactive
        p
            &::after
                background: $red
    .doctor-activity
        display: none
    .is-on
        display: block
    .ask-flex
        margin-top: 10px
        display: flex
        flex-wrap: wrap
        justify-content: center
        margin-bottom: 30px
        .video
            width: 40%
            height: 300px
            background-position: center top
            background-size: cover
            background-repeat: no-repeat
            border-radius: 20px 
        .form
            width: 60%
            padding-left: 20px
            #ask-form 
                .form-input 
                    width: 100%
                    border: solid #707070
                    border-width: 0 0 1px 0
                    background: transparent
                    padding: 10px 0 !important
                .black-btn
                    font-weight: 700
                    padding: 5px
                    width: 150px
                    border-radius: 30px
                    margin-top: 25px
                .success-message
                    font-weight: 600
                    color: $gold
                    margin-top: 10px

/*
    Responsive
        */

@media screen and ( max-width: 767px )
    #doctor-inner
        .doctor-info
            .doctor-title
                font-size: 20px
            .doctor-content
                img
                    float: none
                    margin: 0 0 20px
                    width: 100%
                    max-width: 100%
    .ask-question 
        .ask-flex 
            .video 
                width: 100%
            .form
                width: 100%
                padding-left: 0

       

