#contacts
    .contact-info
        p
            margin-bottom: 0
    .copyright
        padding: 10px 0px 15px
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        img
            margin-top: -6px
        p
            margin-bottom: 0
    .section-title
        margin-bottom: 0
    a
        color: $middledark
    .about-us
        margin-bottom: 30px
        margin-top: 15px
        padding-top: 30px
        border-top: 1px solid $middledark
        .contacts-photos
            img
                border-radius: 15px
    .map
        margin-left: -50px
        margin-right: -50px
    .work-list 
        li
            display: inline-block
            content: ''
            width: 15px
            height: 15px
            margin: 0 3px
            border-radius: 50%
        .full
            background: $middledark
            border: 1px solid $middledark
        .empty
            border: 1px solid red

@media screen and ( max-width: 767px )
    #contacts
        .copyright
            text-align: center
            justify-content: center
            span
                margin: 5px 0
    
