html
  overflow-y: scroll
.compensate-for-scrollbar
  margin-right: 0 !important
body
    font-family: 'Montserrat', sans-serif !important
    color: $middledark
    *
        &:focus
            outline: none !important
    .app
        width: 70%
        margin-left: 30%
        background: $light
        min-height: 100vh
        a
            color: $gold
    ul
        margin-bottom: 15px
        li
            padding-bottom: 5px
    p
        margin-bottom: 15px
    strong
        color: $dark
    .back
        margin-bottom: 10px
        img
            transform: rotate(180deg)
            margin-right: 10px
    .style-table
        width: 100%
        .table-title
            font-weight: 600
            color: $gold
            font-size: 18px
        .table-price
            font-size: 14px
            color: $dark !important
            font-weight: 400 !important
        tr
            border-bottom: 1px solid $middledark
        td, th
            padding: 10px
        th
            color: $dark
            font-weight: 600
    .mokejimas
        h5
            margin-bottom: 15px
            margin-top: 10px
            font-size: 18px
            font-weight: 600
            color: $black
        ul
            li
                padding-bottom: 5px
                &::before
                    display: inline-block
                    content: ''
                    width: 10px
                    height: 10px
                    margin-right: 5px
                    padding-bottom: 5px
                    background: $gold
                    border-radius: 50%
    .tap
        position: relative
        border-radius: 20px
        .tap-icon
            position: absolute
            bottom: 6px
            left: 0
            border-radius: 0 20px 0 20px
            background: $white
            display: inline-block
            height: 50px
            width: 50px
            content: ''
            background-image: url('/storage/settings/November2020/tap.png')
            background-position: center
            background-repeat: no-repeat
            background-size: 25px
            padding: 10px 
    .pb0
        padding-bottom: 0
    .cta-btns
        margin: 20px 0
        a
            display: inline-block
            margin: 5px 10px
            border-radius: 30px
            color: $white
            border: 2px solid
            text-transform: uppercase
            font-weight: 300
            font-size: 14px
            padding: 7px 20px
            text-align: center
            min-width: 250px
            transition: .3s
        .dark-btn
            background: $black
            border-color: $black
            margin-left: 0
            &:hover
                background: transparent
                color: $black
        .light-btn
            background: $dark
            border-color: $dark
            &:hover
                background: transparent
                color: $dark

    .black-btn
        color: $white !important
        background: $black
        border: 2px solid $black
        text-transform: uppercase
        font-size: 20px
        font-weight: 400
        padding: 10px 30px
        border-radius: 15px
        transition: .3s
        cursor: pointer
        display: inline-block
        &:hover
            background: $white
            color: $black !important
    .btn-register
        position: relative
        color: $black
        font-weight: 700
        font-size: 16px
        margin: 20px 0
        padding: 15px 75px 15px 15px
        text-transform: uppercase
        border-radius: 0 30px
        border: 2px solid
        display: inline-block
        overflow: hidden
        transition: .3s
        cursor: pointer
        .arrow
            position: absolute
            right: -3px
            top: 0
            height: 100%
            width: 60px
            background: $black
            border-radius: 0 0 0 30px
            border: none
            transition: .3s
            img
                position: absolute
                left: 50%
                top: 50%
                transform: translate(-50%,-50%)
                width: 50%
                display: inline-block
        &:hover
            color: $gold
            .arrow
                background: $gold
    .white-section
        background: $white
    section
        padding: 50px
        overflow: hidden
        .section-title 
            font-size: 50px
            font-weight: 800
            text-transform: uppercase
            margin-bottom: 20px
            line-height: 1.2
    .columns
        flex-wrap: wrap
    .video-responsive 
        position: relative
        padding-bottom: 56.25%
        height: 0
        iframe
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%



/*
    Responsive
    */

@media screen and ( max-width: 768px  )
    body
        section
            padding: 80px 30px 50px
            .section-title 
                font-size: 40px
        .app
            width: 100%
            margin-left: 0

@media screen and ( max-width: 767px  )
    body
        .cta-btns
            text-align: center
            a
                margin: 5px 10px !important
        section
            .section-title 
                font-size: 35px

@media screen and ( max-width: 350px  )
    body
        section
            .section-title 
                font-size: 30px
    