header
    .navigation
        position: fixed
        top: 0
        left: 0
        width: 30%
        height: 100vh
        display: flex
        align-items: center
        justify-content: center
        z-index: 10
        flex-wrap: wrap
        box-shadow: 0 0 25px 0 rgba(0,0,0,.3)
        background: $white
        .logo
            text-align: center
            img
                width: 300px
                max-width: 100%
                margin-bottom: 50px
        #menu
            text-align: center
            .nav-item
                padding: 10px 0
                text-transform: uppercase
                position: relative
                a
                    color: $gold
            .menu-contacts
                margin-bottom: 20px
                a
                    color: $black
                    display: block
                    margin: 0
                    line-height: 1.1
            .dropdown-menu
                left: 50%
                transform: translateX(-50%)
                background: $white
                box-shadow: 0 0 15px 0 rgba(0, 0, 0, .4)
                z-index: 999
                width: 250px
                padding: 0
                margin: 0
                li
                    padding: 7px
                    transition: .3s
                    &:hover
                        background: $light
            .languages
                .lang-item
                    display: inline-block
                    &::after
                        display: inline-block
                        content: '/'
                    &:last-child
                        &::after
                            display: none !important
                    a
                        display: inline-block
                        text-transform: uppercase
                        color: $black

.mobile-logo
    display: none

.hamburger
    position: absolute
    top: 20px
    right: 30px
    z-index: 99
    span
        display: inline-block
        width: 40px
        height: 3px
        border-radius: 10px
        content: ''
        background: $gold
        position: absolute
        left: 50%
        transform: translateX(-50%)
        transition: .3s
        &:first-child
            transform: translateX(-50%) translateY(-10px)
        &:last-child
            transform: translateX(-50%) translateY(10px)
.x-hamburger
    position: fixed
    span
        &:first-child 
            transform: translateX(-50%) translateY(0) rotate(45deg)
        &:nth-child(2)
            transform: translateX(200px)
        &:last-child 
            transform: translateX(-50%) translateY(0px) rotate(-45deg)

/*
    Responsive
    */

@media screen and ( min-width: 769px )
    .hamburger
        display: none !important
    .navigation
        #menu
            .has-children
                &:hover
                    .dropdown-menu
                        display: block !important
                i
                    display: none
                    
@media screen and ( max-width: 768px )
    .dropdown-menu-active
        display: block !important
    .mobile-top-bar
        position: absolute
        top: 0
        left: 0
        z-index: 1
        display: block
        padding: 6px 10px 0px
        width: 100%
        box-shadow: 0 0 15px 0 rgba(0, 0, 0,.3)
        background: rgba(238, 238, 238,.5)
        .mobile-logo
            position: relative
            width: 200px
    .mobile-logo
        display: inline-block
    header
        .navigation
            z-index: 8
            width: 100%
            transform: translateX(-100%)
            transition: .3s
            .has-children
                i
                    font-size: 25px
                    line-height: .2
                    cursor: pointer
                    padding: 5px
                    color: $gold
        .menu-is-open
            transform: translateX(0)
    