#prices
    margin-bottom: 30px
    .warning
        margin-top: 20px
        strong
            color: $dark
    .price-tabs
        .column
            padding-bottom: 0
            padding-top: 0
            margin-bottom: 5px
            a
                color: $middledark
                transition: .3s
                &:hover
                    color: $gold
                &::after
                    content: ''
                    display: inline-block
                    border-bottom: 3px solid $gold
                    width: 20px
                    transition: .3s
                    opacity: 0
                    transform: translate(5px,-3px)
            .active
                font-weight: 600
                color: $gold
                &::after
                    opacity: 1
    .price-panel
        padding: 30px
        border-radius: 20px
        box-shadow: none
        border: 1px solid $dark
        height: 50vh
        .price-content
            height: 100%
            overflow: auto
            padding-right: 20px
            &::-webkit-scrollbar-track
                border-radius: 10px
                background-color: rgba(112, 112, 112,.3)
            &::-webkit-scrollbar
                border-radius: 10px
                width: 6px
                background-color: rgba(112, 112, 112,.3)
            &::-webkit-scrollbar-thumb
                border-radius: 10px
                background-color: $dark
            table
                width: 100%
                &:first-child
                    tr
                        border: none !important
                .table-title
                    font-weight: 600
                    color: $gold
                    font-size: 18px
                .table-price
                    font-size: 14px
                    color: $dark !important
                    font-weight: 400 !important
                tr
                    border-bottom: 1px solid $middledark 
                td
                    padding: 10px 0
                    &:first-child
                        width: 90%
                    &:last-child
                        width: 10%
                        text-align: right
                        color: $gold
                        font-weight: 600
                        

