#register 
    background: rgba(0, 0, 0,.9)
    transition: 0.5s
    display: flex
    height: 100vh
    width: 70%
    position: fixed
    left: -200%
    top: 0
    align-items: center
    justify-content: center
    z-index: 9
    .register-block 
        text-align: center
        width: 100%
        max-width: 600px
        .success-message
            h3
                font-size: 25px !important
                line-height: 1.1 !important
        .close-reg-form 
            font-size: 60px
            margin-bottom: 30px
            color: $white
        h3 
            font-size: 30px
            color: $white
            text-transform: uppercase
            margin-bottom: 20px
            font-weight: 800
        .form-input 
            display: block
            margin: 15px 5%
            width: 90%
            background: $light
            border: 1px solid $light
            border-radius: 15px
            padding: 10px 15px
            color: $black
            font-size: 16px
            &::placeholder 
                color: $black
            &:focus 
                outline: none
        select 
            option 
                padding: 10px 5px
                background: $light
        .white-btn 
            text-align: center
            background: $white
            border: 1px solid $white
            border-radius: 20px
            padding: 10px
            width: 250px
            max-width: 100%
            color: $blue
            transition: .5s
            font-size: 16px
            cursor: pointer
            margin-top: 30px
            &:hover 
                background: $gold
                color: $white
    .btn-register
        color: $white
        background: transparent
        .arrow
            position: absolute
            background: $white
        &:hover
            color: $gold
            .arrow
                background: $gold
.is-open 
    left: 30% !important
          

/*Responsive*/

@media screen and ( max-width: 768px  )
    #register 
        z-index: 100
        width: 100vw
        left: -100%
    .is-open 
        left: 0!important