#services
    .service-list 
        .service-item
            display: inline-block
            &::after
                content: '/'
            &:last-child
                &::after
                    content: ''
            a
                color: $middledark
                transition: .3s
                margin: 0 5px
                &:first-child
                    margin-left: 0
                &:hover
                    color: $gold
    .service-block
        display: flex
        flex-wrap: wrap
        margin-bottom: 30px
        &:last-child
            margin-bottom: 0
        .service-image
            width: 30%
            max-width: 300px
            img
                border-radius: 20px
                box-shadow: 0 0 20px 0 rgba(0,0,0,.2)
        .service-info
            padding: 0 50px
            width: 70%
            h3
                color: $gold
                font-weight: 600
                font-size: 24px
                position: relative
                margin-bottom: 10px
                padding-bottom: 10px
                &::before
                    position: absolute
                    bottom: 0
                    left: 0
                    border-bottom: 3px solid $gold
                    content: ''
                    width: 70px
                    display: inline-block
            p
                font-size: 16px
                font-weight: 300
                margin-bottom: 30px
            .read-more
                a
                    color: $gold
                    font-weight: 600
                    font-size: 18px
                    transition: .3s
                    img
                        transition: .3s
                    &:hover
                        img
                            transform: translateX(15px)

#service-inner
    .alignleft
        float: left
        margin: 0 10px 10px 0
    .alignright
        float: right
        margin: 0 0 10px 10px
    ol
        margin-left: 30px !important
        margin-top: 10px !important
        li
            padding-bottom: 5px
            &::before
                content: none !important
    ul
        padding-left: 10px
        li
            padding-bottom: 5px
            &::before
                display: inline-block
                content: ''
                width: 10px
                height: 10px
                margin-right: 5px
                padding-bottom: 5px
                background: $gold
                border-radius: 50%
    table
        margin-bottom: 15px
        width: 100%
    .service-title
        font-size: 50px
        font-weight: 800
        margin-bottom: 20px
    .service-content
        .service-table 
            td
                border: 1px solid $dark
                padding: 10px
        .eiga-table
            td
                padding: 0 20px
                min-width: 190px
                position: relative
                vertical-align: middle
                &::before
                    position: absolute
                    content: ''
                    background-image: url('/storage/settings/November2020/gold-arrow.svg')
                    background-position: center
                    display: inline-block
                    background-size: cover
                    background-repeat: no-repeat
                    width: 30px
                    height: 17px
                    top: 50%
                    right: 0
                    transform: translate(50%, -50%)
                &:first-child
                    padding-left: 0
                &:last-child
                    padding-right: 0
                    &::before
                        content: none



/*
    Responsive
        */

@media screen and ( max-width: 768px )
    #service-inner
        .service-title
            font-size: 40px
            line-height: 1.1
    

@media screen and ( max-width: 767px )
    #services
        .service-list
            .service-item
                a
                    font-size: 12px
        .service-block
            .service-image
                margin-bottom: 15px
                margin-top: 30px
                width: 100%
            .service-info
                width: 100%
                padding: 0
                p
                    margin-bottom: 15px
    
    #service-inner
        .service-title
            font-size: 35px
        .alignleft, .alignright
            float: none
            width: 100%
            margin: 10px 0
    