#slider
    .slider
        height: 100vh
        position: relative
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        .slider-item
            .slider-content
                position: absolute
                bottom: 50px
                left: 50px
                width: 100%
                h1
                    font-weight: 800
                    font-style: italic
                    color: $white
                    font-size: 50px
                h3
                    font-size: 25px
                    font-weight: 400
                    color: $white
                    width: 60%
                    line-height: 1.2
                .arrows
                    position: absolute
                    top: 50%
                    right: 15%
                    transform: translateY(-50%)
                    display: flex
                    .prev
                        img
                            transform: rotate(180deg)
                    a
                        margin: 0 10px
                        display: flex
                        width: 50px
                        height: 50px
                        justify-content: center
                        align-items: center
                        padding: 15px
                        border-radius: 10px
                        background: $middledark
                        transition: .3s
                        &:hover
                            background: $gold
                        img
                            width: 100%
                            height: auto


/*
    Responsive
        */

@media screen and ( max-width: 767px  )
    #slider
        .slider
            height: 70vh
            .slider-item
                .slider-content
                    position: absolute
                    bottom: 30px
                    left: 30px
                    h1
                        font-size: 40px
                        width: 100%
                    h3
                        font-size: 20px
                        width: 80%
                    .arrows
                        position: relative
                        top: auto
                        right: auto
                        transform: translateY(0%)
                        a
                            display: flex
                            width: 40px
                            height: 40px
                            padding: 15px
                            &:first-child
                                margin-left: 0 !important

      