#testimonials
    margin-bottom: 30px
    .follow-us
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        .info
            width: 50%
            h2
                font-size: 30px
                line-height: 1.2
                margin-bottom: 15px
                font-weight: 300
            h3
                font-size: 20px
                font-style: italic
                line-height: 1.2
        .logos
            width: 50%
            display: flex
            justify-content: center
            flex-wrap: wrap
            .logo
                margin: 0 10px
                .logo-icon
                    padding: 20px
                    width: 70px
                    height: 70px
                    background: $white
                    border-radius: 50%
                    cursor: pointer
                    display: flex
                    justify-content: center
                    align-items: center
                    margin-bottom: 15px
                    transition: .3s
                    &:hover
                        box-shadow: 0 0 10px 0 rgba(0,0,0,.5)
                    img
                        height: 100%
                        width: auto
                p
                    font-style: italic
    .testimonial-block
        height: 58vh
        overflow: auto
        padding-right: 20px
        &::-webkit-scrollbar-track
            border-radius: 10px
            background-color: rgba(112, 112, 112,.3)
        &::-webkit-scrollbar
            border-radius: 10px
            width: 6px
            background-color: rgba(112, 112, 112,.3)
        &::-webkit-scrollbar-thumb
            border-radius: 10px
            background-color: $dark
    .testimonial-logo
        height: 55px
        margin-bottom: 20px
    .facebook-testimonials
        .testimonial-item
            border-color: $facebook
            .about
                img
                    border-color: $facebook
    .google-testimonials
        .testimonial-item
            border-color: $google
            .about
                img
                    border-color: $google
    .testimonial-item
        border: 2px solid
        border-radius: 20px
        padding: 20px
        margin-bottom: 20px
        .about
            display: flex
            align-items: center
            margin-bottom: 20px
            img
                width: 50px
                border-radius: 50%
                margin-right: 20px
                border: 2px solid
            h1
                font-weight: 600


/*
    Responsive
        */

@media screen and ( max-width: 767px  )
    #testimonials
        .follow-us
            text-align: center
            .info
                width: 100%
                margin-bottom: 30px
            .logos
                width: 100%
                justify-content: center
        .google-testimonial
            margin-bottom: 50px
        .testimonial-block
            height: 70vh